<div class="card">
    <div class="card-header">
        <div class="card-header-title">
            <h3>
                <a href="/posts/{{post.id}}">{{post.title}}</a>
            </h3>
        </div>
        <div class="card-header-timestamp">
            Posted by <strong>{{post.user.username}}</strong> on <strong>{{format_time post.createdAt}}</strong>
        </div>
    </div>
    <div class="card-content">
        {{post.content}}
    </div>
</div>